:root {
  --bg-primary: #B0E4CC;
  --bg-surface: #E6F7F0;
  --color-primary: #285A48;
  --color-secondary: #408A71;
  --text-primary: #091413;
  --text-muted: #4A6B5F;
  --accent: #2F7F67;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300;
  font-family: 'Inter', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

